.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #9d9d9d;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0; }
.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    /* border-left: 3px solid transparent; */
    color: #000000; }
.sidebar-menu > li > a > .fa {
    width: 20px; }
.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    color: #000000;
    background: #dedede;
    border-left-color: #3c8dbc; }
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    margin-top: 3px;
    margin-right: 5px; }
.sidebar-menu li.sidebar-header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226; }
.sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
.sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg); }
.sidebar-menu li.active > .sidebar-submenu {
    display: block; }
.sidebar-menu a {
    color: #b8c7ce;
    text-decoration: none; }
.sidebar-menu .sidebar-submenu {
    display: none;
    list-style: none;
    padding-left: 0px;
    margin: 0px 0px;
    background: #cbcbcb; }
.sidebar-menu .sidebar-submenu .sidebar-submenu {
    padding-left: 20px; }
.sidebar-menu .sidebar-submenu > li > a {
    padding: 15px 20px 15px 15px;
    display: block;
    font-size: 12px;
    color: #000000;
    cursor: pointer;
    }
.sidebar-submenu > li > button {
    padding: 15px 20px 15px 15px;
    display: block;
    font-size: 12px;
    color: #363636;
    cursor: pointer;
    width:100%;
    text-align:left;
    background: #cbcbcb;
    border:0 none;
}
.sidebar-menu .sidebar-submenu > li > a > .fa {
    width: 20px; }
.sidebar-menu .sidebar-submenu > li > a > .fa-angle-left,
.sidebar-menu .sidebar-submenu > li > a > .fa-angle-down {
    width: auto; }
.sidebar-menu .sidebar-submenu > li.active > a, .sidebar-menu .sidebar-submenu > li > a:hover {
    color: #363636;
     background-color:#f1f1f1;
     }
.sidebar-menu-rtl {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #222d32; }
.sidebar-menu-rtl > li {
    position: relative;
    margin: 0;
    padding: 0; }
.sidebar-menu-rtl > li > a {
    padding: 12px 15px 12px 5px;
    display: block;
    border-left: 3px solid transparent;
    color: #b8c7ce; }
.sidebar-menu-rtl > li > a > .fa {
    width: 20px; }
.sidebar-menu-rtl > li:hover > a, .sidebar-menu-rtl > li.active > a {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc; }
.sidebar-menu-rtl > li .label,
.sidebar-menu-rtl > li .badge {
    margin-top: 3px;
    margin-right: 5px; }
.sidebar-menu-rtl li.sidebar-header {
    padding: 10px 15px 10px 25px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226; }
.sidebar-menu-rtl li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
.sidebar-menu-rtl li.active > a > .fa-angle-left {
    transform: rotate(-90deg); }
.sidebar-menu-rtl li.active > .sidebar-submenu {
    display: block; }
.sidebar-menu-rtl a {
    color: #b8c7ce;
    text-decoration: none; }
.sidebar-menu-rtl .sidebar-submenu {
    display: none;
    list-style: none;
    padding-right: 5px;
    margin: 0 1px;
    background: #2c3b41; }
.sidebar-menu-rtl .sidebar-submenu .sidebar-submenu {
    padding-right: 20px; }
.sidebar-menu-rtl .sidebar-submenu > li > a {
    padding: 5px 15px 5px 5px;
    display: block;
    font-size: 14px;
    color: #8aa4af; }
.sidebar-menu-rtl .sidebar-submenu > li > a > .fa {
    width: 20px; }
.sidebar-menu-rtl .sidebar-submenu > li > a > .fa-angle-left,
.sidebar-menu-rtl .sidebar-submenu > li > a > .fa-angle-down {
    width: auto; }
.sidebar-menu-rtl .sidebar-submenu > li.active > a, .sidebar-menu-rtl .sidebar-submenu > li > a:hover {
    color: #fff; }
#sidebar_left.nano.affix {
    padding-bottom: 0;
}
#sidebar_left.affix {
    position: fixed;
}
#sidebar_left {
    background-color: #d6d6d6;
}
#sidebar_left {
    color: #363636;
    font-size: 13px;
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 40px;
}
.nano.affix {
    height: 100%;
}
.affix {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.nano {
    position: relative;
    width: 100%;
    overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

#sidebar_left.affix:before {
    left: 0;
}
html {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
}
.sidebar-left-content {
    height: 100%;
}

.nano.affix > .nano-content::-webkit-scrollbar {
    display: none;
}

.sidebar-menu > li:first-child {
    /*padding-top: 4px; */
}

.sidebar-menu > li > ul > li:first-child > a {
    padding-top: 14px;
}

.glyphicon, .glyphicons, .imoon, .fa, .iconsweets {
    opacity: 1;
    transition: opacity 0.1s ease-in;
    -moz-transition: opacity 0.1s ease-in;
    -webkit-transition: opacity 0.1s ease-in;
}

.sidebar-menu li > a.menu-open > span.caret {
    border-top: 0;
    border-bottom: 5px solid;
}

.sidebar-menu li > a.menu-open + ul {
    display: block;
}

.sidebar-menu > li > a.menu-open:after,
.sidebar-menu > li.active > a:after,
.sidebar-menu > li:hover > a:after,
.sidebar-menu > li:focus > a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    /* width: 3px; */
    background: #cbcbcb;
}
/* Sub Level - Active Item Border */
.sidebar-menu > li > ul > li > a.menu-open:after,
.sidebar-menu > li > ul > li.active > a:after,
.sidebar-menu > li > ul > li:hover > a:after,
.sidebar-menu > li > ul > li:focus > a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background: #702e8f;
}

body.sb-top #sidebar_left .sidebar-menu > li.active > a,
body.sb-top #sidebar_left .sidebar-menu > li:hover > a,
body.sb-top #sidebar_left .sidebar-menu > li > a.menu-open,
body.sb-top #sidebar_left .sidebar-menu > li > a:hover,
body.sb-top #sidebar_left .sidebar-menu > li > a:focus {
    color: inherit;
    background-color: #282d33;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

body.sb-top #sidebar_left .sidebar-menu > li > ul > li > a.menu-open:after,
body.sb-top #sidebar_left .sidebar-menu > li > ul > li.active > a:after,
body.sb-top #sidebar_left .sidebar-menu > li > ul > li:hover > a:after,
body.sb-top #sidebar_left .sidebar-menu > li > ul > li:focus > a:after {
    left: 1px;
    width: 3px;
}

body.sb-top #sidebar_left .sidebar-menu li > ul > li > a.menu-open + ul {
    display: block !important;
}

body.sb-top #sidebar_left.sidebar-light .sidebar-menu > li.active > a,
body.sb-top #sidebar_left.sidebar-light .sidebar-menu > li:hover > a,
body.sb-top #sidebar_left.sidebar-light .sidebar-menu > li > a.menu-open,
body.sb-top #sidebar_left.sidebar-light .sidebar-menu > li > a:hover,
body.sb-top #sidebar_left.sidebar-light .sidebar-menu > li > a:focus {
    background-color: #f2f2f2;
}

@media (min-width: 901px) {
    body.sb-top .sidebar-menu > li > a.menu-open + ul {
        display: none;
    }
    body.sb-top .sidebar-menu > li:hover > a + ul {
        z-index: 1;
        display: block !important;
    }
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom:1px solid #909090;
}

.sidebar-menu li > a {
    position: relative;
}

.sidebar-menu > li > a {
    display: block;
}
.sidebar-menu li.active > a > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.sidebar-menu li > a > .pull-right {
    position: absolute;
    top: 60%;
    right: 10px;
    margin-top: -12px;
}

.skin-purple .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}

.fa.pull-right {
    margin-left: .3em;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-angle-right:before {
    content: "\f105";
}

.fa-angle-up:before {
    content: "\f106";
}

.fa-angle-down:before {
    content: "\f107";
}

.skin-purple .sidebar-menu > li:hover > a, .skin-purple .sidebar-menu > li.active > a {
    color: #363636;
    background: #d2d2d2;
    border-left-color: #9895c6;
}

.active {
    background: #eaeaea;
    color: #363636;
    border-left-color: #702e8f;
}

.vipBanner{
    font-size: 12px;
    background: #ed1c24;
    color: #fff200;
    padding: 10px 5px;
    display: inline-block;
    width: auto;
    text-align: left;
    font-weight: bold;
    margin: 0 auto;
    font-family: 'Source Sans Pro',sans-serif !important;
}

.vip_label{
    color: #fff200;
    padding: 5px 0;
    position: absolute;
    top: 8px;
    margin-left: -8px;
    width: 110px;
    font-weight: 600;
    background: #ed1c24;
    font-size: 13px;
    font-family: 'Source Sans Pro',sans-serif !important;
}

/*ctalk radio button styles*/

.ctalk-link-quote-sec {
    margin-left: -5px;
}
.ctalk-radio {
    margin-right: 3px !important;
    margin-left: 2px !important;
    position: relative;
    top: 2px;
}
.ctalk-radio-two {
    display: block;
    top: 15px;
}
.ctalk-input-field {
       width: 155px;
           display: inline-block;
           position: absolute;
           z-index: 0;
           right: 0px;
           top: 40px;
           left: 38px;
}
.ctalk-update {
        margin-top: 25px;
}

#lq_text-error {
  position: relative;
  top: 23px;
  left: 20px;
}